body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  padding: 10px;
}

nav .logo {
  color: white;
  font-size: 24px;
  display: inline-block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

main {
  padding: 20px;
}

h1, h2 {
  color: #333;
}

.product-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.product img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}
